#body {
    .contactEmbed {
        a {
            color: var(--primary);
        }

        em {
            font-family: 'Montserrat', sans-serif;
            font-size: var(--h3-size);
            margin-bottom: 2rem;
            line-height: 1.3;
            font-weight: 700;
            font-style: normal;
        }
    }
    .bcontact-title {
        margin-bottom: 1rem;
        color: var(--primary) !important;
    }

    .bcontact-description {
        margin-bottom: 1rem;
    }

    .bcontact-content {
        input {
            border-radius: 0;
        }

        [type='file'] {
            border: 2px dashed #ebebeb;
            border-radius: 0.5rem;
            padding: 2rem;
        }
    }

    .bcontact-field--file span {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: block;
    }
}
